/* src/components/Capitals/index.css */
.capitals-container {
  text-align: center;
}

.main-heading {
  font-family: Roboto, sans-serif;
  color: #000000;
}

select {
  margin-top: 20px;
  padding: 10px;
  font-family: Roboto, sans-serif;
}

p {
  font-family: Roboto, sans-serif;
  color: #323f4b;
}
